@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700");
/* -----------------------------------------
	Grid
----------------------------------------- */
/* -----------------------------------------
	Brand Colors
----------------------------------------- */
/* -----------------------------------------
	Base Colors
----------------------------------------- */
/* -----------------------------------------
	Font Families
----------------------------------------- */
/* -----------------------------------------
	Font Weights
----------------------------------------- */
/* -----------------------------------------
	Font Sizes
----------------------------------------- */
/*54px*/
/*36px*/
/*24px*/
/*16px*/
/* -----------------------------------------
	Bootstrap - Colors
----------------------------------------- */
/* -----------------------------------------
	Bootstrap - Buttons
----------------------------------------- */
/* -----------------------------------------
	Mixins
----------------------------------------- */
/* -----------------------------------------
	Helpers
----------------------------------------- */
.m0 {
  margin: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mt0 {
  margin-top: 0 !important; }

.mt10 {
  margin-top: 10px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt80 {
  margin-top: 80px !important; }

.p0 {
  padding: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.op8 {
  opacity: 0.8 !important; }

.op7 {
  opacity: 0.7 !important; }

.op6 {
  opacity: 0.6 !important; }

.op5 {
  opacity: 0.5 !important; }

.op4 {
  opacity: 0.4 !important; }

.op2 {
  opacity: 0.2 !important; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  background-color: #efefef;
  font-family: "omnes-pro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3b3b3b;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  font-weight: 600;
  color: #1c99ad;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    color: #1c99ad; }
  a.secondary {
    color: #ee4637; }
    a.secondary:hover, a.secondary:focus {
      color: #ee4637; }
  a.standalone {
    font-size: 17px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", "Arial Black", Helvetica, sans-serif;
  /*color: $heading-color;
  font-weight: 400;
  margin: 30px 0 20px 0;*/ }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0; }

p {
  line-height: 1.5;
  margin-bottom: 20px; }

hr {
  border-color: #d1d1d1; }

section {
  padding: 40px 0px; }
  section.section-home {
    padding: 40px 0px; }

aside {
  padding: 50px 0; }

blockquote {
  position: relative;
  margin-bottom: 24px;
  padding: 16px 24px 12px 24px;
  color: #3b3b3b;
  border: none; }
  blockquote p {
    font-size: 22px;
    font-weight: 600;
    line-height: initial; }
  blockquote cite {
    display: block;
    color: #1c99ad;
    font-style: normal; }

/* -----------------------------------------
  Typography
----------------------------------------- */
.page-title {
  font-size: 24px;
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 0.01em; }
  @media (min-width: 768px) {
    .page-title {
      font-size: 40px; } }

h1 {
  font-size: 32px;
  color: #1c99ad;
  text-transform: uppercase;
  letter-spacing: 0.04em; }

h2 {
  font-size: 22px;
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 0.04em; }

h3 {
  font-size: 18px;
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 0.04em; }

h4 {
  font-size: 22px;
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 0.04em; }

h5 {
  font-size: 18px;
  color: #3b3b3b; }

/* -----------------------------------------
  Misc
----------------------------------------- */
.bg-primary {
  background-color: #1c99ad; }

.bg-secondary {
  background-color: #ee4637; }

.bg-dark {
  background-color: #222222;
  color: #fff; }

.text-primary {
  color: #1c99ad; }

.text-secondary {
  color: #ee4637; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.btn {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-family: "omnes-pro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase; }

.btn-default {
  color: #fff !important;
  letter-spacing: 0.15em;
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  white-space: normal;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active,
  .btn-default .open > .dropdown-toggle {
    color: #fff;
    background-color: #bfbfbf;
    border-color: #bfbfbf; }
  .btn-default:active, .btn-default.active,
  .btn-default .open > .dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active,
  .btn-default fieldset[disabled],
  .btn-default fieldset[disabled]:hover,
  .btn-default fieldset[disabled]:focus,
  .btn-default fieldset[disabled].focus,
  .btn-default fieldset[disabled]:active,
  .btn-default fieldset[disabled].active {
    background-color: #d1d1d1;
    border-color: #d1d1d1; }
  .btn-default .badge {
    color: #d1d1d1;
    background-color: #fff; }

.btn-primary {
  color: #fff !important;
  letter-spacing: 0.15em;
  background-color: #1c99ad;
  border-color: #1c99ad;
  white-space: normal;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active,
  .btn-primary .open > .dropdown-toggle {
    color: #fff;
    background-color: #177e8e;
    border-color: #177e8e; }
  .btn-primary:active, .btn-primary.active,
  .btn-primary .open > .dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active,
  .btn-primary fieldset[disabled],
  .btn-primary fieldset[disabled]:hover,
  .btn-primary fieldset[disabled]:focus,
  .btn-primary fieldset[disabled].focus,
  .btn-primary fieldset[disabled]:active,
  .btn-primary fieldset[disabled].active {
    background-color: #1c99ad;
    border-color: #1c99ad; }
  .btn-primary .badge {
    color: #1c99ad;
    background-color: #fff; }

.btn-success {
  color: #fff !important;
  letter-spacing: 0.15em;
  background-color: #3f9c6b;
  border-color: #3f9c6b;
  white-space: normal;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active,
  .btn-success .open > .dropdown-toggle {
    color: #fff;
    background-color: #35835a;
    border-color: #35835a; }
  .btn-success:active, .btn-success.active,
  .btn-success .open > .dropdown-toggle {
    background-image: none; }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active,
  .btn-success fieldset[disabled],
  .btn-success fieldset[disabled]:hover,
  .btn-success fieldset[disabled]:focus,
  .btn-success fieldset[disabled].focus,
  .btn-success fieldset[disabled]:active,
  .btn-success fieldset[disabled].active {
    background-color: #3f9c6b;
    border-color: #3f9c6b; }
  .btn-success .badge {
    color: #3f9c6b;
    background-color: #fff; }

.btn-danger {
  color: #fff !important;
  letter-spacing: 0.15em;
  background-color: #ee4637;
  border-color: #ee4637;
  white-space: normal;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active,
  .btn-danger .open > .dropdown-toggle {
    color: #fff;
    background-color: #eb2816;
    border-color: #eb2816; }
  .btn-danger:active, .btn-danger.active,
  .btn-danger .open > .dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active,
  .btn-danger fieldset[disabled],
  .btn-danger fieldset[disabled]:hover,
  .btn-danger fieldset[disabled]:focus,
  .btn-danger fieldset[disabled].focus,
  .btn-danger fieldset[disabled]:active,
  .btn-danger fieldset[disabled].active {
    background-color: #ee4637;
    border-color: #ee4637; }
  .btn-danger .badge {
    color: #ee4637;
    background-color: #fff; }

.btn-xl {
  padding: 15px 30px; }

.no-padding {
  padding: 0; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/* -----------------------------------------
  Extras
----------------------------------------- */
::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #1c99ad; }

::selection {
  color: #fff;
  text-shadow: none;
  background: #1c99ad; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  webkit-tap-highlight-color: #1c99ad; }

/* -----------------------------------------
	Navbar
----------------------------------------- */
.navbar-inverse {
  background-color: rgba(59, 59, 59, 0.95);
  border: none; }
  .navbar-inverse .navbar-toggle {
    margin-top: 20px;
    border-color: transparent;
    font-family: "brandon-grotesque", "Arial Black", Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.04em; }
  .navbar-inverse .navbar-brand {
    height: 100%;
    padding: 20px 15px; }
    .navbar-inverse .navbar-brand img {
      height: 45px; }
  .navbar-inverse .navbar-collapse {
    max-height: none;
    border: none;
    box-shadow: none; }
  .navbar-inverse #navbar .top-bar {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fff; }
    .navbar-inverse #navbar .top-bar ul {
      text-align: center; }
      .navbar-inverse #navbar .top-bar ul > li {
        display: inline-block; }
        .navbar-inverse #navbar .top-bar ul > li > a,
        .navbar-inverse #navbar .top-bar ul > li > a:focus {
          color: #1c99ad; }
    .navbar-inverse #navbar .top-bar .reg-services {
      padding: 10px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      font-size: 16px;
      color: #fff;
      text-align: center; }
      .navbar-inverse #navbar .top-bar .reg-services span {
        display: block; }
    .navbar-inverse #navbar .top-bar .search {
      margin-top: 10px;
      color: #fff; }
      .navbar-inverse #navbar .top-bar .search .form-control {
        width: 200px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0;
        box-shadow: none;
        color: #fff; }
        .navbar-inverse #navbar .top-bar .search .form-control:focus {
          border-bottom-color: #1c99ad; }
        .navbar-inverse #navbar .top-bar .search .form-control::-webkit-input-placeholder, .navbar-inverse #navbar .top-bar .search .form-control::-moz-placeholder, .navbar-inverse #navbar .top-bar .search .form-control:-ms-input-placeholder, .navbar-inverse #navbar .top-bar .search .form-control:-moz-placeholder {
          color: red; }
      .navbar-inverse #navbar .top-bar .search button {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        background-color: transparent; }
      .navbar-inverse #navbar .top-bar .search ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff; }
      .navbar-inverse #navbar .top-bar .search ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .navbar-inverse #navbar .top-bar .search :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff; }
      .navbar-inverse #navbar .top-bar .search :-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
  .navbar-inverse #navbar .nav.main-menu > li > a,
  .navbar-inverse #navbar .nav.main-menu > li > a:focus {
    margin: 0 15px;
    padding: 15px 0;
    font-family: "brandon-grotesque", "Arial Black", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05); }
    .navbar-inverse #navbar .nav.main-menu > li > a:hover,
    .navbar-inverse #navbar .nav.main-menu > li > a:focus:hover {
      color: #1c99ad; }
  .navbar-inverse #navbar .nav.main-menu > li.active > a,
  .navbar-inverse #navbar .nav.main-menu > li.active > a:focus {
    background-color: transparent; }
  @media (min-width: 768px) {
    .navbar-inverse .navbar-header .navbar-brand {
      margin-top: 20px;
      margin-right: 30px; }
      .navbar-inverse .navbar-header .navbar-brand img {
        height: 60px; }
    .navbar-inverse #navbar .top-bar {
      margin-top: 10px; }
      .navbar-inverse #navbar .top-bar .reg-services {
        margin-top: 13px;
        margin-left: 45px;
        padding: 0;
        border: none;
        font-size: 14px; }
    .navbar-inverse #navbar .nav.main-menu {
      margin-top: 10px; }
      .navbar-inverse #navbar .nav.main-menu > li > a,
      .navbar-inverse #navbar .nav.main-menu > li > a:focus {
        border-bottom: 8px solid transparent; }
        .navbar-inverse #navbar .nav.main-menu > li > a:hover,
        .navbar-inverse #navbar .nav.main-menu > li > a:focus:hover {
          color: #fff;
          border-bottom: 8px solid #1c99ad; }
        .navbar-inverse #navbar .nav.main-menu > li > a.hotel-accom:hover,
        .navbar-inverse #navbar .nav.main-menu > li > a:focus.hotel-accom:hover {
          border-bottom: 8px solid #ee4637; }
      .navbar-inverse #navbar .nav.main-menu > li.active > a,
      .navbar-inverse #navbar .nav.main-menu > li.active > a:focus {
        border-bottom: 8px solid #1c99ad; }
        .navbar-inverse #navbar .nav.main-menu > li.active > a.hotel-accom,
        .navbar-inverse #navbar .nav.main-menu > li.active > a:focus.hotel-accom {
          border-bottom: 8px solid #ee4637; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .navbar-inverse #navbar .top-bar {
      overflow: hidden; }
      .navbar-inverse #navbar .top-bar .reg-services {
        clear: left;
        margin-left: 15px; }
      .navbar-inverse #navbar .top-bar .search {
        margin-left: 45px; }
        .navbar-inverse #navbar .top-bar .search .form-control {
          width: 150px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .navbar-inverse .navbar-header .navbar-brand img {
      height: 50px; }
    .navbar-inverse #navbar {
      float: left; }
      .navbar-inverse #navbar .top-bar {
        overflow: hidden; }
        .navbar-inverse #navbar .top-bar .nav > li > a {
          padding-right: 10px;
          padding-left: 10px; }
        .navbar-inverse #navbar .top-bar .reg-services {
          margin-left: 15px; }
        .navbar-inverse #navbar .top-bar .search {
          margin-left: 20px; }
          .navbar-inverse #navbar .top-bar .search .form-control {
            width: 150px; } }
  @media (min-width: 1200px) {
    .navbar-inverse #navbar .top-bar .search {
      margin-left: 45px; } }

/* -----------------------------------------
	Header
----------------------------------------- */
header {
  position: relative;
  width: 100%;
  height: 400px;
  min-height: auto; }
  @media (min-width: 768px) {
    header {
      height: 850px;
      min-height: 850px; } }
  header:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(59, 59, 59, 0.2);
    opacity: 0.3;
    z-index: 1; }
  header:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/brick.png");
    background-repeat: repeat-x;
    background-position: center bottom 3px;
    z-index: 2; }
  header .owl-carousel {
    position: relative;
    height: 100%; }
    header .owl-carousel div:not(.owl-controls) {
      height: 100%; }
  header .owl-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  header .owl-controls {
    position: absolute;
    bottom: 220px;
    width: 100%;
    margin: 0 auto; }
  @media (min-width: 768px) {
    header .owl-controls {
      bottom: 300px; } }
  header .owl-theme .owl-controls .owl-page span {
    background: #fff; }
  header .owl-theme .owl-controls .owl-page.active span,
  header .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #1c99ad; }

/* -----------------------------------------
	Sections
----------------------------------------- */
.content-container {
  padding-top: 80px;
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .content-container {
      padding-top: 240px; } }
  @media (min-width: 992px) {
    .content-container {
      padding-top: 200px; } }

section.divider {
  border-bottom: 1px solid #d1d1d1; }

.section-heading {
  margin-top: 0;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .section-heading {
      margin-bottom: 40px; } }

.section-divider {
  margin-top: 0;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .section-divider {
      margin-left: -15px;
      margin-right: -15px; } }

section.intro {
  position: relative;
  z-index: 2;
  margin-top: -250px;
  padding-bottom: 0; }
  section.intro .promo-box {
    margin-bottom: 15px; }
    section.intro .promo-box .upper {
      padding: 35px 0 35px 0;
      text-align: center; }
      section.intro .promo-box .upper .title {
        margin: 20px 0 0 0;
        color: #fff; }
    section.intro .promo-box .lower {
      padding: 40px;
      background: #fff; }
      section.intro .promo-box .lower a {
        display: block;
        text-align: center; }
        section.intro .promo-box .lower a:after {
          content: "";
          display: block;
          width: 80px;
          margin: 10px auto 0;
          border-top: 10px solid #1c99ad; }
    section.intro .promo-box.pyle .upper {
      background: rgba(28, 153, 173, 0.85); }
    section.intro .promo-box.lowell .upper {
      background: rgba(238, 70, 55, 0.85); }
    section.intro .promo-box.lowell .lower a {
      color: #ee4637; }
      section.intro .promo-box.lowell .lower a:after {
        border-color: #ee4637; }
  @media (min-width: 768px) {
    section.intro {
      margin-top: -320px; }
      section.intro .promo-box .upper {
        padding: 60px 0 45px 0; }
      section.intro .promo-box .lower {
        padding: 50px 70px; } }

section.about h1 {
  font-size: 40px;
  color: #3b3b3b;
  line-height: 1.2; }

section.about blockquote {
  padding-right: 0;
  padding-left: 0; }

section.gallery {
  padding-bottom: 0; }
  section.gallery [class*="col-"] {
    padding-bottom: 15px; }
  section.gallery .gallery-box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    section.gallery .gallery-box .overlay {
      position: absolute;
      overflow: hidden;
      left: 0;
      top: auto;
      bottom: 0;
      width: 100%;
      padding: 20px;
      background: rgba(59, 59, 59, 0.8);
      color: #fff;
      font-weight: 600;
      -webkit-transition: -webkit-transform 0.35s;
      transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      transition: transform 0.35s, -webkit-transform 0.35s;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0); }
      section.gallery .gallery-box .overlay p {
        margin: 0;
        -webkit-transition: -webkit-transform 0.35s;
        transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        transition: transform 0.35s, -webkit-transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0); }
    section.gallery .gallery-box img {
      display: block;
      position: relative;
      -webkit-transition: -webkit-transform 0.35s;
      transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      transition: transform 0.35s, -webkit-transform 0.35s; }
    section.gallery .gallery-box:hover .overlay,
    section.gallery .gallery-box:hover p {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    section.gallery .gallery-box:hover p {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s; }
  @media (max-width: 767px) {
    section.gallery .gallery-box {
      max-width: 600px;
      margin: 0 auto; } }
  @media (min-width: 768px) {
    section.gallery [class*="col-"] {
      padding-right: 2px;
      padding-bottom: 4px;
      padding-left: 2px; } }

section.news .title {
  margin-bottom: 20px; }

section.news .item {
  padding: 40px 15px;
  background: #fff; }
  section.news .item .heading {
    font-size: 32px;
    color: #ee4637; }
    section.news .item .heading:before {
      content: "";
      display: block;
      width: 100px;
      margin-bottom: 35px;
      border-top: 10px solid #ee4637; }
  section.news .item a {
    color: #ee4637; }

@media (min-width: 992px) {
  section.news .title {
    overflow: hidden;
    padding-right: 55px;
    padding-left: 55px; }
    section.news .title .heading {
      float: left; }
    section.news .title a {
      float: right; }
  section.news .item-container {
    background: #fff; }
    section.news .item-container [class*="col-"]:first-child {
      padding-left: 60px; }
    section.news .item-container [class*="col-"]:last-child {
      padding-right: 60px; }
  section.news .item {
    padding: 60px 10px; } }

/* -----------------------------------------
	Sidebar
----------------------------------------- */
.sidebar .sidebar-widget {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1; }
  .sidebar .sidebar-widget:last-child {
    border-bottom: none; }
  .sidebar .sidebar-widget.no-border {
    border-bottom: none; }

.sidebar .location {
  padding: 20px;
  border: 2px solid #d1d1d1;
  text-align: center; }
  .sidebar .location img {
    height: 50px;
    margin-bottom: 10px; }
  .sidebar .location h4 {
    font-size: 16px;
    letter-spacing: 0.15em; }
  .sidebar .location hr {
    border-width: 2px; }
  .sidebar .location .phone {
    margin-bottom: 0;
    font-weight: 600;
    color: #1c99ad; }
    .sidebar .location .phone span {
      display: block;
      font-size: 17px;
      color: #3b3b3b; }
  .sidebar .location.lowell .phone {
    color: #ee4637; }

.sidebar .sidebar-nav h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1; }

.sidebar .sidebar-nav .nav > li > a {
  padding: 8px 0px; }
  .sidebar .sidebar-nav .nav > li > a:focus, .sidebar .sidebar-nav .nav > li > a:hover {
    text-decoration: underline; }

.sidebar .sidebar-nav .nav > li.active a {
  color: #3b3b3b; }

.sidebar .request-meeting-room,
.sidebar .make-reservation {
  padding: 30px;
  background: #fff; }
  .sidebar .request-meeting-room .icon,
  .sidebar .make-reservation .icon {
    display: block;
    height: 60px;
    margin: 0 auto 25px auto; }
  .sidebar .request-meeting-room h4,
  .sidebar .make-reservation h4 {
    margin-bottom: 20px;
    text-align: center; }

.sidebar .download-cta a {
  display: block;
  text-align: center; }
  .sidebar .download-cta a:hover {
    color: #177e8e;
    text-decoration: none; }

.sidebar .download-cta i {
  margin-right: 10px;
  font-size: 40px;
  vertical-align: middle; }

.sidebar .download-cta span {
  font-size: 18px;
  line-height: 1.3; }

@media (min-width: 768px) {
  .sidebar .download-cta a {
    text-align: left; }
  .sidebar .download-cta i {
    float: left;
    margin-right: 20px;
    font-size: 60px; }
  .sidebar .download-cta span {
    font-size: 20px; } }

.sidebar .plain-cta .icon {
  display: block;
  height: 60px;
  margin: 0 auto 25px auto; }

/* -----------------------------------------
	Main Content
----------------------------------------- */
.breadcrumb {
  padding: 0;
  background-color: transparent; }
  .breadcrumb li + li:before {
    color: #3b3b3b;
    content: "›"; }
  .breadcrumb > .active {
    font-weight: 600;
    color: #3b3b3b; }

.print-page i {
  margin-left: 10px;
  font-size: 30px;
  vertical-align: middle; }

section.gallery-alt [class*="col-"] {
  padding-bottom: 15px; }

section.gallery-alt .gallery-box {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  section.gallery-alt .gallery-box .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; }
    section.gallery-alt .gallery-box .overlay h3 {
      padding: 0 20px;
      font-size: 24px;
      color: #fff; }
    section.gallery-alt .gallery-box .overlay a {
      display: inline-block;
      width: 50%;
      padding-bottom: 20px;
      border-bottom: 8px solid #1c99ad; }
    section.gallery-alt .gallery-box .overlay .color-block {
      display: block;
      margin: 20px auto 0 auto;
      width: 50%;
      height: 8px;
      background: #1c99ad; }
  section.gallery-alt .gallery-box:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }

@media (max-width: 767px) {
  section.gallery-alt .gallery-box {
    max-width: 600px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  section.gallery-alt .row {
    margin-left: -2px;
    margin-right: -2px; }
  section.gallery-alt [class*="col-"] {
    padding-right: 2px;
    padding-bottom: 4px;
    padding-left: 2px; } }

@media (min-width: 768px) and (max-width: 991px) {
  section.gallery-alt .gallery-box .overlay h3 {
    padding: 0 10px;
    font-size: 20px; }
  section.gallery-alt .gallery-box .overlay a {
    width: 70%;
    padding-bottom: 20px; } }

section.news-alt .item {
  padding: 40px 15px;
  background: #fff; }
  section.news-alt .item .heading {
    font-size: 32px;
    color: #1c99ad; }
    section.news-alt .item .heading:before {
      content: "";
      display: block;
      width: 100px;
      margin-bottom: 35px;
      border-top: 10px solid #1c99ad; }
  section.news-alt .item a {
    color: #1c99ad; }

@media (min-width: 992px) {
  section.news-alt .item-container {
    margin-right: 0;
    margin-left: 0;
    padding: 20px 0;
    background: #fff; }
    section.news-alt .item-container [class*="col-"]:first-child {
      border-right: 1px solid #d1d1d1; }
  section.news-alt .item {
    padding: 40px 40px; } }

.event-planning .timeline-step {
  padding: 0 40px 0 40px;
  background: #fff; }
  .event-planning .timeline-step .timeline-event {
    position: relative;
    padding: 40px 0 20px 40px;
    border-top: 2px solid #d1d1d1; }
    @media (min-width: 992px) {
      .event-planning .timeline-step .timeline-event {
        padding-left: 0; } }
    .event-planning .timeline-step .timeline-event:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background-color: #1c99ad;
      left: 0;
      top: 50px; }
    .event-planning .timeline-step .timeline-event .bubble {
      position: absolute;
      top: 45px;
      left: 0;
      width: 25px;
      height: 25px;
      margin-left: -12px;
      background-color: #1c99ad;
      z-index: 100;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%; }
    .event-planning .timeline-step .timeline-event:nth-child(2):before,
    .event-planning .timeline-step .timeline-event:nth-child(2) .bubble {
      background-color: #ee9f38; }
    .event-planning .timeline-step .timeline-event:nth-child(3):before,
    .event-planning .timeline-step .timeline-event:nth-child(3) .bubble {
      background-color: #ee7838; }
    .event-planning .timeline-step .timeline-event:nth-child(4):before,
    .event-planning .timeline-step .timeline-event:nth-child(4) .bubble {
      background-color: #ee4637; }
    .event-planning .timeline-step .timeline-event:nth-child(5):before,
    .event-planning .timeline-step .timeline-event:nth-child(5) .bubble {
      background-color: #3b3b3b; }
    @media (min-width: 992px) {
      .event-planning .timeline-step .timeline-event:before {
        left: 42%; }
      .event-planning .timeline-step .timeline-event .bubble {
        left: 42%; } }
    .event-planning .timeline-step .timeline-event .timeframe {
      margin-bottom: 20px;
      font-size: 36px; }
      .event-planning .timeline-step .timeline-event .timeframe span {
        display: block;
        margin-top: 10px;
        font-size: 20px; }
    .event-planning .timeline-step .timeline-event .todolist {
      list-style: none;
      line-height: 1.5; }
      .event-planning .timeline-step .timeline-event .todolist li {
        counter-increment: step-counter;
        position: relative;
        margin-bottom: 20px;
        padding-left: 30px; }
        .event-planning .timeline-step .timeline-event .todolist li::before {
          content: counter(step-counter);
          position: absolute;
          left: 0;
          font-family: "brandon-grotesque", "Arial Black", Helvetica, sans-serif;
          font-size: 22px;
          color: #d1d1d1; }

section.find-room .view-rooms {
  display: block;
  margin-bottom: 20px; }

section.find-room .box-container {
  padding: 60px  15px;
  background: #fff;
  overflow: hidden; }

section.find-room .selection-box {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  background: #efefef;
  border: 5px solid transparent;
  border-radius: 5px;
  color: #3b3b3b;
  text-align: center; }
  section.find-room .selection-box img {
    height: 108px;
    margin: 0 auto 20px auto; }
  section.find-room .selection-box .desc {
    margin-bottom: 0;
    line-height: 1; }
    section.find-room .selection-box .desc span {
      color: #1c99ad; }
  section.find-room .selection-box:hover {
    border-color: #3f9c6b;
    text-decoration: none; }
  section.find-room .selection-box:active, section.find-room .selection-box:focus {
    border-color: #3b3b3b;
    text-decoration: none; }

section.find-room .heading {
  margin-bottom: 50px; }

section.find-room hr {
  margin-top: 30px;
  margin-bottom: 60px; }

section.find-room .selections a {
  margin-left: 20px; }

section.find-room .label-default {
  background: #fff;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 15px; }

section.find-room .filter {
  overflow: hidden; }
  section.find-room .filter hr {
    margin-top: 10px;
    margin-bottom: 10px; }

section.find-room .result-item {
  margin-bottom: 50px; }
  section.find-room .result-item ul.spec {
    font-size: 14px;
    font-weight: 600;
    line-height: 1; }
    section.find-room .result-item ul.spec li {
      border-right: 1px solid #3b3b3b; }
      section.find-room .result-item ul.spec li:last-child {
        border: none; }

@media (max-width: 767px) {
  section.find-room .result-item {
    max-width: 600px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  section.find-room .box-container {
    padding: 60px  50px; } }

@media (min-width: 992px) {
  section.find-room .selection-box {
    padding: 30px; }
  section.find-room .view-rooms {
    text-align: right; } }

section.room-details ul.directory {
  margin: 10px 0 30px 0;
  line-height: 1; }
  section.room-details ul.directory li {
    border-right: 1px solid #3b3b3b; }
    section.room-details ul.directory li:last-child {
      border: none; }

section.room-details .heading {
  margin-top: 10px;
  margin-bottom: 30px; }

section.room-details .rate span {
  margin-right: 5px;
  font-family: "brandon-grotesque", "Arial Black", Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600; }

@media (max-width: 991px) {
  section.room-details a.request-room {
    display: block;
    margin-bottom: 40px; } }

section.room-details .room-box {
  display: block;
  margin-bottom: 10px;
  padding: 30px;
  background: #e0e0e0;
  border-radius: 5px;
  text-align: center; }
  @media (min-width: 1200px) {
    section.room-details .room-box {
      padding: 40px; } }
  section.room-details .room-box img {
    height: 108px;
    margin: 0 auto; }

section.room-details .map-container iframe {
  height: 400px; }

@media (max-width: 767px) {
  section.our-rooms .item {
    max-width: 600px;
    margin: 0 auto 30px auto; } }

section.map-weather .weather-box {
  background: #e0e0e0;
  padding: 20px;
  text-align: center; }
  section.map-weather .weather-box .temp {
    display: block;
    margin-bottom: 10px;
    font-family: "brandon-grotesque", "Arial Black", Helvetica, sans-serif;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase; }
    section.map-weather .weather-box .temp.large {
      font-size: 60px; }
    section.map-weather .weather-box .temp small {
      display: block;
      margin-top: 10px;
      font-size: 20px;
      letter-spacing: 0.08em; }

section.map-weather .map-container iframe {
  min-height: 250px; }

.catering-menu .menu-items {
  margin: 0  20px;
  padding: 20px 0;
  background: #fff;
  border-top: 2px solid #d1d1d1; }
  .catering-menu .menu-items p {
    margin-bottom: 10px; }
  .catering-menu .menu-items .price {
    margin-bottom: 40px; }

@media (min-width: 768px) {
  .catering-menu .menu-items {
    margin: 0  40px;
    padding: 40px 0; }
    .catering-menu .menu-items hr {
      margin-top: 40px;
      margin-bottom: 40px; } }

.panel {
  border: none;
  box-shadow: none; }
  .panel.panel-default > .panel-heading {
    padding: 20px 20px;
    background-color: #e0e0e0;
    color: #3b3b3b; }
    .panel.panel-default > .panel-heading.active {
      background: #fff; }
    .panel.panel-default > .panel-heading .panel-title {
      font-size: 22px; }
      .panel.panel-default > .panel-heading .panel-title a {
        display: block; }
        .panel.panel-default > .panel-heading .panel-title a:focus, .panel.panel-default > .panel-heading .panel-title a:hover {
          text-decoration: none; }
        .panel.panel-default > .panel-heading .panel-title a:focus {
          color: #3b3b3b; }
      .panel.panel-default > .panel-heading .panel-title .hideview {
        float: right;
        font-family: "omnes-pro", Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #1c99ad;
        text-transform: none; }
  @media (min-width: 768px) {
    .panel.panel-default > .panel-heading {
      padding: 20px 40px; } }

.vbrick-photo {
  position: relative; }
  .vbrick-photo:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/brick-stack.png");
    background-repeat: repeat-y;
    background-position: left top 4px;
    z-index: 2; }

.map-container iframe {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: auto;
  border: 0; }

/* -----------------------------------------
	Main Content - Secondary Color Specific
----------------------------------------- */
#hotel-accommodations a {
  color: #ee4637; }
  #hotel-accommodations a:hover, #hotel-accommodations a:focus {
    color: #ee4637; }

#hotel-accommodations .sidebar-nav .nav > li > a {
  color: #ee4637; }

#hotel-accommodations section.gallery-alt .gallery-box .overlay .color-block {
  background: #ee4637; }

#hotel-accommodations section.news-alt .item .heading {
  color: #ee4637; }
  #hotel-accommodations section.news-alt .item .heading:before {
    border-top: 10px solid #ee4637; }

#hotel-accommodations section.news-alt .item a {
  color: #ee4637; }

/* -----------------------------------------
	Footer
----------------------------------------- */
.footer {
  padding: 100px 0px;
  background-color: #3b3b3b;
  background-image: url("/img/brick.png");
  background-repeat: repeat-x;
  background-position-y: 3px;
  color: #fff; }
  .footer a {
    color: #fff; }
  .footer h2, .footer h3, .footer h4 {
    color: #fff; }
  .footer h2 {
    font-size: 20px; }
  .footer .logo-uwe {
    margin-top: 30px; }
    .footer .logo-uwe a {
      display: inline-block; }
      .footer .logo-uwe a:hover {
        text-decoration: none; }
    .footer .logo-uwe span {
      margin-right: 10px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.04em; }
    .footer .logo-uwe img {
      max-width: 140px; }
  .footer .location {
    font-size: 14px; }
    .footer .location h2 {
      font-size: 14px;
      letter-spacing: 0.08em; }
      .footer .location h2.pyle {
        color: #1c99ad; }
      .footer .location h2.lowell {
        color: #ee4637; }
  .footer .footer-bottom {
    margin-top: 40px;
    padding-top: 10px;
    font-size: 12px;
    border-top: 1px solid #444; }
  .footer .social-footer {
    font-size: 30px;
    text-align: center; }
    .footer .social-footer a:hover {
      color: #1c99ad; }
  @media (max-width: 767px) {
    .footer .location {
      margin-top: 40px; }
    .footer .copyright,
    .footer .nav-footer {
      text-align: center; }
    .footer .copyright {
      margin-top: 20px; } }
